/*   共用的一些类样式   */
$width: 1200px;
$mainBlue: #009BEE;
$f12: 12px;
$f16: 16px;
$f24: 24px;
$c3: #333;
$cbf: #bfbfbf;
$bgf8: #f8f8f8;

.banner { // 静态的banner并且没有文字
  width: 100%;
  min-width: 1200px;
  height: 290px;
  background: url("~/assets/img/rfid-banner.png") no-repeat center center;
  background-size: cover;
  .text {
    width: $width;
    margin: 0 auto;
    padding: 94px 0;
    h1 {
      font-size: 30px;
      color: $mainBlue;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}
/*  一个公共的字体大小和颜色(中文标题和英文标题) */
%title-zh {
  font-size: $f24;
  color: $c3;
}
%title-en {
  font-size: $f12;
  color: $cbf;
}
/*  文字超出省略 */
%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
